<nav class="navbar navbar-expand-md navbar-light bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">All Listings</a>
      </div>
      <div class="navbar-nav ms-auto me-auto">
        <form class="d-flex" role="search">
          <input class="form-control search-inp me-2" type="search" placeholder="Search destinations" aria-label="Search"/>
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .search-btn {
    background-color: #ff385c;
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: 500;
  }

  .search-btn:hover {
    background-color: #e0ae2a;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: 1px solid #ddd;
  }
  
  .navbar-brand i {
    color: #ff385c;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: #ff385c;
  }
</style>